Accellerated Database Recovery <br>
Stap 1: maar een simpele database aan.

In [1]:
CREATE DATABASE [ADR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\ADR.mdf' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\ADR_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

CREATE DATABASE [ADR_OFF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADR_OFF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\ADR_OFF.mdf' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADR_OFF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\ADR_OFF_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

Tabel toevoegen die we gaan laden met een zinloos script

In [2]:
USE ADR_OFF;
GO
create table Axians_ADR_Demo (
    ID int IDENTITY(1,1) PRIMARY KEY,
    VALUE [uniqueidentifier] null,
    CREATE_DATE DATETIME2 DEFAULT SYSDATETIME()
)

USE ADR;
GO
create table Axians_ADR_Demo (
    ID int IDENTITY(1,1) PRIMARY KEY,
    VALUE [uniqueidentifier] null,
    CREATE_DATE DATETIME2 DEFAULT SYSDATETIME()
)

Database ADR omzetten naar een database in Accelerated Database Recovery

In [3]:
ALTER DATABASE ADR SET ACCELERATED_DATABASE_RECOVERY = ON

Tabelvulling genereren met een row by row procedure

In [1]:
USE ADR;
GO
SET NOCOUNT ON;

DECLARE @Counter INT = 1

WHILE @Counter < 1000000
BEGIN
    INSERT INTO Axians_ADR_Demo(VALUE) values (NEWID())
    SET @Counter += 1
END

USE ADR_OFF;
GO
SET NOCOUNT ON;

DECLARE @Counter INT = 1
WHILE @Counter < 1000000
BEGIN
    INSERT INTO Axians_ADR_Demo(VALUE) values (NEWID())
    SET @Counter += 1
END